In [ ]:
'''Q1. What is a database? Differentiate between SQL and NoSQL databases.
Solution:
A database is an organized collection of data that is stored and accessed electronically. 
It is designed to efficiently manage, store, and retrieve large amounts of data.

SQL (Structured Query Language) databases are based on the relational model and use SQL as the primary language to manipulate data. SQL databases are highly structured, with data organized into tables that have predefined relationships with one another. 

NoSQL (Not Only SQL) databases, on the other hand, are non-relational and do not use a traditional table-based schema. Instead, they are based on document-oriented, key-value, column-family, or graph databases. NoSQL databases are highly scalable and flexible, making them ideal for handling large and unstructured datasets.
'''

In [ ]:
''' Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
Solution:
DDL stands for Data Definition Language, and it is a set of SQL commands used to define and manage the structure of a database. DDL commands allow you to create, modify, and delete database objects such as tables, indexes, and views.

1. CREATE: The CREATE command is used to create a new database object, such as a table or view. For example, the following SQL statement creates a new table called "students" with three columns:
CREATE TABLE students (
   id INT,
   name VARCHAR(50),
   age INT
);


2. DROP: The DROP command is used to remove an existing database object, such as a table or view. For example, the following SQL statement drops the "students" table:
DROP TABLE students;

3. ALTER: The ALTER command is used to modify an existing database object, such as a table or view. For example, the following SQL statement adds a new column called "marks" to the "students" table:
ALTER TABLE students ADD COLUMN marks INT;

4. TRUNCATE: The TRUNCATE command is used to remove all data from an existing table. Unlike the DROP command, TRUNCATE preserves the structure of the table. For example, the following SQL statement removes all data from the "students" table:
TRUNCATE TABLE students;

'''

In [ ]:
''' Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
Solution:
DML stands for Data Manipulation Language, and it is a set of SQL commands used to manipulate the data stored in a database. DML commands allow you to insert, update, and delete data from database tables.

1. INSERT: The INSERT command is used to add new data to a table. For example, the following SQL statement inserts a new row into the "students" table:
INSERT INTO students (id,name,age,marks)
VALUES (1,'vivek',22,67);

2. UPDATE: The UPDATE command is used to modify existing data in a table. For example, the following SQL statement updates the marks of the students with id 1 in the "students" table:
UPDATE students SET marks = 78 where id=1;

3. DELETE: The DELETE command is used to remove data from a table. For example, the following SQL statement deletes the student with id 1 from the "students" table:
DELETE FROM students where id=1;
'''

In [ ]:
'''Q4. What is DQL? Explain SELECT with an example.
Solution:
DQL stands for Data Query Language, and it is a set of SQL commands used to query and retrieve data from a database. DQL commands allow you to search for data that meets specific criteria, and sort, group, and aggregate data.

The most commonly used DQL command is SELECT, which is used to retrieve data from one or more tables in a database.
Here is an example of how to use the SELECT command to retrieve data from a table:

SELECT * from students
This will retrive all data from table

SELECT id, name from students;
This will retrieve only id and name column from the table.

SELECT * FROM students WHERE age >= 20;
Data will be retrieve only of those students who's age is greater or equal to 20
'''

In [1]:
''' Q5. Explain Primary Key and Foreign Key.
Solution:
A Primary Key is a column or set of columns in a table that uniquely identifies each row in that table. It is used to ensure that each row in a table is uniquely identifiable and can be referenced from other tables. A Primary Key must be unique, not null, and never changes. 

A Foreign Key is a column or set of columns in a table that refers to the Primary Key of another table. It is used to establish a relationship between two tables and enforce referential integrity. In other words, a Foreign Key ensures that a value in one table exists as a Primary Key value in another table. 
'''

SyntaxError: incomplete input (4031052682.py, line 1)

In [ ]:
''' Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
Solution:
To connect to MySQL from Python, we can use the mysql-connector-python library.
using mysql.connector.connect() method we specify the database credentials such as the username, password and hostname'
we create a cursor object using the cursor() method of the connection object. The cursor is used to execute SQL statements and fetch results.
We then execute a SQL query using the execute() method of the cursor object, passing in the SQL query as a string. The query can be a SELECT, INSERT, UPDATE, or DELETE statement.
'''
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute(" create database if not exists teset2")
mydb.close()

In [ ]:
''' Q7. Give the order of execution of SQL clauses in an SQL query.
Solution:
The order of execution of SQL clauses in an SQL query is as follows:

1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that donâ€™t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.
'''